/* work sans fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared styles */
*{
    font-family: "Work Sans", sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.text-light-gray{
    color: rgb(114, 114, 114);
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}



.banner img{
    margin-top: 20px;
    width: 100%;
}



/* main styles */
main{
    max-width: 1400px;
    margin: 70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;

}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* for making responsive we use rem */
    gap: 1.5rem; 

}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
    font-size: 2.8rem;
    margin-bottom: 24px;

}

.teams-title .quick-list{
    font-weight: 500;
}

.teams-title .our{
    color: rgb(19, 19, 19);
    font-weight: 700;
}

.teams-title .text-features{
    color: rgb(255, 144, 14);
    font-weight: 700;
}


.description{
    margin-bottom: 30px;
}

/* facts styles */
.fact-title{
    margin-bottom: 24px;
}

.fact-description{
    max-width: 540px;
    line-height: 24px;
    margin-bottom: 70px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-states{
    color: rgb(66, 66, 66);
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}







/* responsive media queries */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav, .teams-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    
    nav, .teams-container{
        flex-direction: column;
    }
}